@use '../../styles';

.dictionary {
  margin-top: 2.5rem;
  border-radius: 0.75rem;
  .input-wrapper {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
    input,
    button {
      padding: 1.125rem;
      border: 0;
      border-radius: 0.5rem 0.5rem 0 0;
      font-size: var(--font-size-medium);
    }
    input {
      width: 90%;
      border-bottom: 2px solid var(--dark-2);
    }
    button {
      width: 120px;
      color: var(--dark-2);
      background-color: var(--pink);
      box-shadow: rgba(var(--pink), 0.5) 0px 4px 12px;
      cursor: pointer;
    }
  }
}
