@use 'variables' as *;

@mixin mobile() {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

// Chevron
@mixin light-box {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: var(--light-default);
  box-shadow: 0 30px 50px var(--pink-bg);
}
