// Colors
$light-default: #fcfefe;
$light-bg: #faddf657;
$text-default: #1c1a24;
$light-1: rgb(250, 227, 217);
$light-2: #ffcbcb;
$light-3: #ffb5b5;
$dark-1: #407088;
$dark-2: #132743;
$green-1: #c6fce59c;
