@use 'styles' as *;

.container {
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  padding: 2rem;
}
footer {
  font-size: var(--font-size);
  margin-top: auto;
  @include light-box;
  padding: 1rem;
}

.app-header {
  position: relative;
  z-index: 0;
  h1 {
    font-family: var(--heading-font);
    z-index: 1;
    position: relative;
  }
  .chevron {
    --s: 20px; /* control the shape (can be percentage) */

    height: 60px;
    aspect-ratio: 5/6;
    clip-path: polygon(
      100% 0,
      calc(100% - var(--s)) 0,
      0 50%,
      calc(100% - var(--s)) 100%,
      100% 100%,
      var(--s) 50%
    );
    background: #000000;
    position: absolute;
    left: -60px;
    top: -5px;
  }
  .chevron-reverse {
    --s: 20px; /* control the shape (can be percentage) */

    height: 60px;
    aspect-ratio: 5/6;
    clip-path: polygon(
      0 0,
      var(--s) 0,
      100% 50%,
      var(--s) 100%,
      0 100%,
      calc(100% - var(--s)) 50%
    );
    background: #000000;
    position: absolute;
    left: 380px;
    top: -5px;
  }
}
